<!DOCTYPE html>
<html>
  <head>
    <title><%= roomname %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= roomname %></p>
    <ul id="messages"></ul>
    <form id="message_form" action="#">
      <input id="input_msg" autocomplete="off" /><button>Send</button>
    </form>
    <script>
      var socketio = io();
      socketio.on("connected", function(name) {});
      socketio.on("disconnect", function () {});

      // 2.イベントに絡ませる関数の定義
      function start(name) {
        socketio.emit("connected", name);
      }

      // サーバーへメッセージを送る．
      $("#message_form").submit(function(){
        socketio.emit("message", $("#input_msg").val());
        $("#input_msg").val("");
        return false;
      });

      // サーバーからメッセージを受け取る．
      socketio.on("message", function(data){
        $("#messages").append($("<li>").text("[" + data.username + "] : " + data.message));
      });

    </script>
    <!-- <script>
      // private function
      var getRandomInt = function(min, max) {
          min = Math.ceil(min);
          max = Math.floor(max);
          return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
        }
    </script> -->
  </body>
</html>
