<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>Create private chat room</ul>
    <form method="POST" id="regist_user_name",  action="/chatroom">
      <input id="input_username" autocomplete="off" /><button>Regist</button>
    </form>
  </body>
</html>
